
    <h1>MLCLSP application</h1>
    <p>

    </p>

    <li><%= link_to "Here", demands_path %> you can type in the demand quantities for your products.</li>

    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>